.content {
    /* min-height: calc(100vh - (84px + 100.8px)); */
    width: calc(100% - 2*(60px));
    padding-top: calc(96px + 30px);
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
