.back-button {
    margin-right: 30px;
    padding: 0;
    background-color: transparent;
    height: 36px;
    width: 36px;
    border: none;
    background-image: url(../../images/back-icon.svg);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.back-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.back-button:focus {
    outline: none;
}